<!-- Título principal -->
<div class="container my-5">
  <h2 class="titulo">Compañías Aliadas</h2>

  <!-- Fila de imágenes en dos columnas -->
  <div class="row">
    <div class="aseguradoras">
      <!-- EQUIDAD -->
      <img src="/images/Aseguradoras/equidad.png" alt="EQUIDAD" width="170px">
      <!-- SURA -->
      <img src="/images/Aseguradoras/sura.png" alt="SURA" width="170px">
      <!-- BOLIVAR -->
      <img src="/images/Aseguradoras/bolivar.png" alt="BOLIVAR" width="170px">
      <!-- SOLIDARIA -->
      <img src="/images/Aseguradoras/solidaria.png" alt="SOLIDARIA" width="170px">
      <img src="/images/Aseguradoras/estado.png" alt="ESTADO" width="170px">
      <!-- COLPATRIA -->
      <img src="/images/Aseguradoras/colpatria.png" alt="COLPATRIA" width="170px">
      <!-- PREVISORA -->
      <img src="/images/Aseguradoras/previsora.png" alt="PREVISORA" width="170px">
      <!-- SALUD TOTAL -->
      <img src="/images/Aseguradoras/saludTotal.png" alt="SALUD TOTAL" width="240px">
    </div>
  </div>
</div>