<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Número Placa</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Cédula</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Tipo de Vehículo</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array soat y llenar la tabla -->
            @for (soat of soats; track $index) {
            <tr (click)="selectRow(soat.numeroPlaca)">
                <td class="text-center">{{ soat.id }}</td>
                <td class="text-center">{{ soat.numeroPlaca }}</td>
                <td class="text-center">{{ soat.nombre }}</td>
                <td class="text-center">{{ soat.cedula }}</td>
                <td class="text-center">{{ soat.correo }}</td>
                <td class="text-center">{{ soat.telefono }}</td>
                <td class="text-center">{{ soat.direccion }}</td>
                <td class="text-center">{{ soat.aseguradora }}</td>
                <td class="text-center">{{ soat.tipo }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>