    @if (!isLogged) {

      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">Aseguradora LAYO</span>
          </div>
          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img src="/images/telefono.png" alt="Teléfono" class="me-2" style="width: 20px; height: 20px;">
            <span class="text-body-secondary">3148219899</span>
            <span class="mx-3">|</span>
            <span class="text-body-secondary">3122866247</span>
          </div>
        </footer>
      </div>
      
    } @else if (isLogged) {
       @if (rol === 'CLIENTE') {
        <div class="background-container">
          <div class="container logged-container">
            <h2 class="title">Cotizar</h2>
            <form [formGroup]="footerForm" (ngSubmit)="crearPeticion()" class="form-container">
              
              <div class="form-group">
                <label for="cedula">Cédula:</label>
                <input id="cedula" formControlName="cedula" type="text" class="form-control" required />
              </div>
        
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input id="nombre" formControlName="nombre" type="text" class="form-control" required />
              </div>
        
              <div class="form-group">
                <label for="correo">Correo:</label>
                <input id="correo" formControlName="correo" type="email" class="form-control" required />
              </div>
        
              <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input id="telefono" formControlName="telefono" type="tel" class="form-control" pattern="[0-9]{10}" required />
              </div>
        
              <div class="form-group">
                <label for="asegurar">Aseguradora:</label>
                <input id="asegurar" formControlName="asegurar" type="text" class="form-control" required />
              </div>
        
              <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" formControlName="mensaje" class="form-control" rows="4" required></textarea>
              </div>
        
              <button type="submit" class="btn btn-primary">Crear Petición</button>
            </form>
          </div>
        </div>
        
        
    }}
