<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Valor Comercial</th>
                <th class="text-center">Valor Eléctrico</th>
                <th class="text-center">Valor Muebles</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array hogares y llenar la tabla -->
            @for (hogar of hogares; track $index) {
            <tr (click)="selectRow(hogar.id)">
                <td class="text-center">{{ hogar.id }}</td>
                <td class="text-center">{{ hogar.aseguradora }}</td>
                <td class="text-center">{{ hogar.valorComercial | number: '1.0-0' }}</td>
                <td class="text-center">{{ hogar.valorElectrico | number: '1.0-0' }}</td>
                <td class="text-center">{{ hogar.valorMuebles | number: '1.0-0' }}</td>
                <td class="text-center">{{ hogar.direccion }}</td>
                <td class="text-center">{{ getTime(hogar.fechaCreacion) }}</td>
                <td class="text-center">{{ getDate(hogar.fechaCreacion) }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>