<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array vida y llenar la tabla -->
            @for (vida of vidas; track $index) {
            <tr (click)="selectRow(vida.id)">
                <td class="text-center">{{ vida.id }}</td>
                <td class="text-center">{{ vida.aseguradora }}</td>
                <td class="text-center">{{ getDate(vida.fechaCreacion) }}</td>
                <td class="text-center">{{ getTime(vida.fechaCreacion) }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>