<section class="py-5 container">
  <h1 class="text-center mb-4">Cotización Protección de Crédito</h1>

  <div class="col-md-12 mt-3">
    <div class="w-100 d-flex justify-content-center pb-4">
      <button [ngClass]="viewForm?'btn btn-danger':'btn btn-success'" class="mt-4"
        (click)="toggleVerForm()">{{viewFormBtn}}</button>
    </div>
    <form *ngIf="viewForm" class="row g-4 needs-validation" novalidate [formGroup]="proteccionCreditoForm"
      (ngSubmit)="crearProteccionCredito()">
      <div class="row g-3">
        <!-- Aseguradora -->
        <div class="col-md-6 text-start">
          <label class="form-label">Aseguradora</label>
          <select class="form-select" formControlName="aseguradora">
            <option value="" disabled selected>Selecciona una aseguradora</option>
            @for (aseguradora of aseguradoras; track aseguradora) {
            <option [value]="aseguradora">{{ aseguradora }}</option>
            } @empty {
            <option disabled>No hay aseguradoras disponibles</option>
            }
          </select>
        </div>

        <!-- Valor de Deuda -->
        <div class="col-md-6 text-start">
          <label class="form-label">Valor de Deuda</label>
          <input type="number" class="form-control" formControlName="valorDeuda" placeholder="Valor de Deuda">
          @if (proteccionCreditoForm.get('valorDeuda')?.touched &&
          proteccionCreditoForm.get('valorDeuda')?.hasError('min')) {
          <div class="alert alert-danger" role="alert">El valor de la deuda debe ser mayor que 0.</div>
          }
        </div>
        <!-- Botones -->
        <div class="col-12 text-center">
          <button class="btn btn-success mt-4 me-2" type="submit">Solicitar Cotización</button>
        </div>
      </div>
    </form> <!-- El cierre correcto aquí -->
    <br />
    <app-admin-proteccion-credito></app-admin-proteccion-credito>
    <div class="w-100 d-flex justify-content-center pb-4">
      <button class="btn btn-danger mt-4" (click)="volver()">Volver</button>
    </div>
  </div>
</section>