<section class="py-0 text-center container">
  <div class="row py-0">
    <!-- Título Editar Perfil, aplicando la clase "title" -->
    <h1 class="title">
      <label>Editar Perfil</label>
    </h1>

    <!-- Imagen del logo ahora está más cerca del título -->
    <div class="container my-3 text-center">
      <figure class="figure">
        <img src="/images/logo.png" class="rounded-circle mt-1" alt="Logo" height="190px" width="190px">
      </figure>
    </div>
  </div>

  <div class="col-md-12 mt-3">
    <form class="row g-4 needs-validation" [formGroup]="perfilForm" (ngSubmit)="editarPerfil()" novalidate>
      <div class="row form-row">
        <div class="col-md-6 text-start">
          <label class="form-label">Cédula</label>
          <input type="text" class="form-control" formControlName="id" placeholder="Cédula" />
        </div>
        <div class="col-md-6 text-start">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Nombre" />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-6 text-start">
          <label class="form-label">Teléfono</label>
          <input type="text" class="form-control" formControlName="phone" placeholder="Teléfono" />
        </div>
        <div class="col-md-6 text-start">
          <label class="form-label">Dirección</label>
          <input type="text" class="form-control" formControlName="address" placeholder="Dirección" />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-6 text-start">
          <label class="form-label">Correo</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Correo" />
        </div>
        <div class="col-md-6 text-start">
          <label class="form-label">Ocupación</label>
          <input type="email" class="form-control" formControlName="ocupation" placeholder="Ocupación" />
        </div>
      </div>

      <div class="col-12 my-3 d-flex justify-content-center gap-3">
        <button class="btn btn-success" type="submit">Editar Cuenta</button>
        <button class="btn btn-danger" type="button" (click)="eliminarCuenta()">Eliminar Cuenta</button>
      </div>
    </form>
    <div class="dropdown-divider"></div>
  </div>
</section>