<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array salud y llenar la tabla -->
            @for (salud of saluds; track $index) {
            <tr (click)="selectRow(salud.id)">
                <td class="text-center">{{ salud.id }}</td>
                <td class="text-center">{{ salud.aseguradora }}</td>
                <td class="text-center">{{ getDate(salud.fechaCreacion) }}</td>
                <td class="text-center">{{ getTime(salud.fechaCreacion) }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>