<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Cédula</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Fecha de Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array salud y llenar la tabla -->
            @for (salud of saluds; track $index) {
            <tr (click)="selectRow(salud.id)">
                <td class="text-center">{{ salud.id }}</td>
                <td class="text-center">{{ salud.aseguradora }}</td>
                <td class="text-center">{{ salud.nombre }}</td>
                <td class="text-center">{{ salud.cedula }}</td>
                <td class="text-center">{{ salud.correo }}</td>
                <td class="text-center">{{ salud.telefono }}</td>
                <td class="text-center">{{ salud.direccion }}</td>
                <td class="text-center">{{ salud.fechaNacimiento }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>