<div class="container">
  <!-- Título Asesores -->
  <div class="text-center" style="padding-top: 30px;">
    <figure class="figure">
      <img src="/images/logo.png" class="rounded-circle" alt="Logo" height="128px">
      <!-- Tamaño reducido de la imagen -->
    </figure>
  </div>
  <div class="title">Contáctanos</div>
  <div style="width: 100%;margin-bottom: 2rem;">
    <app-registro [mostrarElementos]="false"></app-registro>
  </div>

  <!-- Imagen del logo al principio de la página -->
  <div class="title">Asesores</div>
  <div class="row w-100">
    <!-- Asesor 1: Carlos Andres Ladino Taborda -->
    <div class="col-md-5">
      <div class="asesor-info">
        <h4>Carlos Andres Ladino Taborda</h4>
        <a class="d-block boton-wsp d-flex" href="https://wa.me/573122866247">
          <div style="position: relative;" class="d-flex wsp-imagenes">
            <img class="wsp-normal" style="opacity: 1;" style="z-index: 100;"
              src="https://img.icons8.com/ios-glyphs/500/000000/whatsapp.png" alt="Logo celular" />
            <img style="position: absolute; left: 0;z-index: 0;"
              src="https://img.icons8.com/ios-glyphs/500/FFFFFF/whatsapp.png" alt="Logo celular" />
          </div>
          3122866247
        </a>
        <label class="d-block">
          <img src="https://img.icons8.com/ios/452/email.png" alt="Logo correo">
          ladino79&commat;hotmail.com
        </label>
        <label class="d-block">
          <img src="https://img.icons8.com/ios/452/email.png" alt="Logo correo">
          aseguradoralayo&commat;gmail.com
        </label>
      </div>
    </div>

    <!-- Asesor 2: Nini Yhojana Moreno Bobadilla -->
    <div class="col-md-5">
      <div class="asesor-info">
        <h4>Nini Yhojana Moreno Bobadilla</h4>
        <a class="d-block boton-wsp d-flex" href="https://wa.me/573148219899">
          <div style="position: relative;" class="d-flex wsp-imagenes">
            <img class="wsp-normal" style="opacity: 1;" style="z-index: 100;"
              src="https://img.icons8.com/ios-glyphs/500/000000/whatsapp.png" alt="Logo celular" />
            <img style="position: absolute; left: 0;z-index: 0;"
              src="https://img.icons8.com/ios-glyphs/500/FFFFFF/whatsapp.png" alt="Logo celular" />
          </div>
          3148219899
        </a>
        <label class="d-block">
          <img src="https://img.icons8.com/ios/452/email.png" alt="Logo correo">
          yhoja1&commat;hotmail.com
        </label>
        <label class="d-block">
          <img src="https://img.icons8.com/ios/452/email.png" alt="Logo correo">
          aseguradoralayo&commat;gmail.com
        </label>
      </div>
    </div>
  </div>
</div>