<section class="py-5 container">
  <h1 class="text-center mb-4">Afiliaciones o Traslados</h1>
  <div class="mt-3" [formGroup]="afiliacionForm" (ngSubmit)="crearAfiliacion()">
    <form class="row g-4 needs-validation" novalidate>
      <div class="row g-3 w-100">
        <!-- Nombre -->
        <div class="col-md-6 text-start w-100">
          <label class="form-label">Email</label>
          <input type="email" class="form-control w-full" formControlName="email" [(ngModel)]="email"
            placeholder="Correo">

        </div>
        <!-- Teléfono -->
        <div class="col-md-6 w-100 text-start">
          <label class="form-label">Tipo de gestión</label>
          <select class="form-control w-100" formControlName="type">
            <option value="" disabled selected>Selecciona un tipo</option>
            <option value="Afiliación">Afiliación</option>
            <option value="Traslado">Traslado</option>
          </select>
        </div>

        <!-- Mensaje -->
        <div class="col-md-6 text-start w-100">
          <label class="form-label">Mensaje</label>
          <textarea class="form-control" formControlName="message"
            placeholder="Escribe el detalle de lo que quieres hacer"></textarea>
          @if (afiliacionForm.get('message')?.touched && afiliacionForm.get('message')?.hasError('required')) {
          <div class="alert alert-danger" role="alert">El mensaje es requerido.</div>
          }
          @if (afiliacionForm.get('message')?.touched && afiliacionForm.get('message')?.hasError('maxlength')) {
          <div class="alert alert-danger" role="alert">El mensaje no puede tener más de 250 caracteres.</div>
          }
        </div>

        <!-- Botones -->
        <div class="col-12 text-center">
          <button class="btn btn-success mt-1 me-2" type="submit">Solicitar Afiliación o Traslado</button>
          <button class="btn btn-danger mt-1" (click)="volver()">Volver</button>
        </div>
      </div>
    </form>
    <div class="dropdown-dividers"></div>
  </div>
</section>