/* Añadir márgenes entre los botones */
.button-container button {
    margin-right: 15px;
    /* Separar los botones */
}

/* Estilo para la fila seleccionada */
.selected {
    background-color: #95e2ac;
    /* Color de fondo */
    /* Negrita */
}

.selected td {
    background-color: #95e2ac !important;
}