<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Cédula</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Teléfono</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Fecha de Nacimiento</th>
                <th class="text-center">Ocupación</th>
                <th class="text-center">Ciudad</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array responsabilidadCiviles y llenar la tabla -->
            @for (responsabilidadCivil of responsabilidadCiviles; track $index) {
            <tr (click)="selectRow(responsabilidadCivil.id)">
                <td class="text-center">{{ responsabilidadCivil.id }}</td>
                <td class="text-center">{{ responsabilidadCivil.aseguradora }}</td>
                <td class="text-center">{{ responsabilidadCivil.nombre }}</td>
                <td class="text-center">{{ responsabilidadCivil.cedula }}</td>
                <td class="text-center">{{ responsabilidadCivil.correo }}</td>
                <td class="text-center">{{ responsabilidadCivil.telefono }}</td>
                <td class="text-center">{{ responsabilidadCivil.direccion }}</td>
                <td class="text-center">{{ responsabilidadCivil.fechaNacimiento }}</td>
                <td class="text-center">{{ responsabilidadCivil.ocupacion }}</td>
                <td class="text-center">{{ responsabilidadCivil.ciudad }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>