<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Ocupacion</th>
                <th class="text-center">Ciudad</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array responsabilidadCiviles y llenar la tabla -->
            @for (responsabilidadCivil of responsabilidadCiviles; track $index) {
            <tr (click)="selectRow(responsabilidadCivil.id)">
                <td class="text-center">{{ responsabilidadCivil.id }}</td>
                <td class="text-center">{{ responsabilidadCivil.aseguradora }}</td>
                <td class="text-center">{{ responsabilidadCivil.ocupacion }}</td>
                <td class="text-center">{{ responsabilidadCivil.ciudad }}</td>
                <td class="text-center">{{ getDate(responsabilidadCivil.fechaCreacion) }}</td>
                <td class="text-center">{{ getTime(responsabilidadCivil.fechaCreacion) }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>