<section class="py-0 text-center container">
  <div class="row py-4">
    <figure class="figure">
      <img src="/images/logo.png" class="rounded-circle float-start" class="rounded-circle mt-3" alt="" height="170px"
        width="170px">
    </figure>
  </div>

  <body class="p-0 m-0 bd-example m-1 bg-white h-25 w-auto border-0 col-6 ">

    <div class="dropdown-menu" [formGroup]="loginForm" (ngSubmit)="login()">
      <form class="px-4 py-3 d-flex flex-column">
        <div class="mb-auto">
          <label for="exampleDropdownFormEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="correo@example.com"
            formControlName="email">
        </div>
        <div class="mb-auto">
          <label for="inputFormCodigo" class="form-label">Código</label>
          <input type="text" class="form-control" id="inputFormCodigo" placeholder="123456"
            formControlName="userCode">
        </div>
        <a routerLink="/signup" style="align-self: center;">¿No tienes cuenta? <strong>Regístrate</strong> </a>
        <button disabled [disabled]="loginForm.get('email')?.invalid||loginForm.get('userCode')?.valid" class="button-secondary" type="button" (click)="generarCodigo()" >Enviar Código</button>
        <button disabled [disabled]="loginForm.invalid" type="submit" class="btn btn-primary" >Ingresar</button>
        <button class="button-cancel" type="button" (click)="volver()">Volver</button>
        
      </form>
      <div class="dropdown-divider"></div>
    </div>
  </body>
</section>