<!-- Título principal Aseguradora LAYO -->
<section id="titulo-principal" class="py-5">
    <div class="container">
        <h2 class="text-center">Aseguradora LAYO</h2>
    </div>
</section>

<!-- Sección de Quiénes Somos -->
<section id="quienes-somos" class="py-5">
    <div class="container">
        <h2 class="text-center">¿Quiénes Somos?</h2>
        <p class="text-justify mt-4">
            En <strong>Aseguradora LAYO</strong>, nos enfocamos en ofrecer seguridad y confianza a nuestros clientes, brindando soluciones adaptadas a sus necesidades. Con años de experiencia en el mercado, nos hemos consolidado como un socio confiable, proporcionando productos y servicios diseñados para proteger lo más importante para nuestros clientes. Nuestra principal misión es ofrecer tranquilidad, respaldando sus proyectos y objetivos con soluciones personalizadas que les brinden el apoyo necesario en cada etapa de su vida.
        </p>
    </div>
</section>

<!-- Sección de Misión -->
<section id="mision" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center">Nuestra Misión</h2>
        <p class="text-justify mt-4">
            Proporcionar soluciones de seguros integrales y personalizadas que protejan el patrimonio, la salud y el bienestar de nuestros clientes en <strong>Aseguradora LAYO</strong>. Nos comprometemos a ofrecer servicios de alta calidad, basados en la ética, la transparencia y la responsabilidad social. A través de un enfoque centrado en el cliente, buscamos generar relaciones de largo plazo, aportando valor y confianza en cada etapa de la vida. Creemos en la importancia de innovar constantemente para adaptarnos a las cambiantes necesidades del mercado asegurador y brindar siempre las mejores soluciones.
        </p>
    </div>
</section>

<!-- Sección de Visión -->
<section id="vision" class="py-5">
    <div class="container">
        <h2 class="text-center">Nuestra Visión</h2>
        <p class="text-justify mt-4">
            Ser reconocidos como la aseguradora líder y de referencia en el mercado nacional, destacándonos por nuestra capacidad de innovación, compromiso con la sostenibilidad y excelencia en la atención al cliente. En <strong>Aseguradora LAYO</strong>, aspiramos a transformar la experiencia de seguros, convirtiéndonos en un socio estratégico para nuestros clientes y la comunidad. Buscar contribuir al desarrollo de una sociedad más segura y protegida, promoviendo valores de responsabilidad social y bienestar colectivo. Ser la primera opción de nuestros asegurados, no solo por la calidad de nuestros productos, sino también por la confianza y el respaldo que ofrecemos día a día.
        </p>
    </div>
</section>
