<!-- Título principal Aseguradora LAYO -->
<section id="titulo-principal" class="pt-3 pb-2">
    <div class="container">
      <h2 class="text-center mb-2">Seguros LAYO</h2>
    </div>
  </section>
  
  <!-- Imagen del logo al principio de la página -->
  <div class="container mb-3 text-center">
    <figure class="figure">
      <img src="/images/logo.png" 
           class="rounded-circle" 
           alt="Logo" 
           height="170px" 
           width="170px">
    </figure>
  </div>
  
  <!-- Nuevo texto añadido debajo de la imagen -->
  <div class="container text-center">
    <p class="lead mt-0 mb-4">
      Protegiendo lo que más importa: tu vida, tu familia y tu patrimonio. Confianza y seguridad en cada paso.
    </p>
  </div>
  
  <!-- Sección de Quiénes Somos -->
  <section id="quienes-somos" class="py-4">
    <div class="container">
      <h2 class="text-center mb-3">¿Quiénes Somos?</h2>
      <p class="text-justify mt-2">
        En <strong>Aseguradora LAYO</strong>, nos enfocamos en ofrecer seguridad y confianza a nuestros clientes, brindando soluciones adaptadas a sus necesidades. Con años de experiencia en el mercado, nos hemos consolidado como un socio confiable, proporcionando productos y servicios diseñados para proteger lo más importante para nuestros clientes. Nuestra principal misión es ofrecer tranquilidad, respaldando sus proyectos y objetivos con soluciones personalizadas que les brinden el apoyo necesario en cada etapa de su vida.
      </p>
    </div>
  </section>
  
  <!-- Sección de Misión -->
  <section id="mision" class="py-4 bg-light">
    <div class="container">
      <h2 class="text-center mb-3">Nuestra Misión</h2>
      <p class="text-justify mt-2">
        Proporcionar soluciones de seguros integrales y personalizadas que protejan el patrimonio, la salud y el bienestar de nuestros clientes en <strong>Aseguradora LAYO</strong>. Nos comprometemos a ofrecer servicios de alta calidad, basados en la ética, la transparencia y la responsabilidad social. A través de un enfoque centrado en el cliente, buscamos generar relaciones de largo plazo, aportando valor y confianza en cada etapa de la vida. Creemos en la importancia de innovar constantemente para adaptarnos a las cambiantes necesidades del mercado asegurador y brindar siempre las mejores soluciones.
      </p>
    </div>
  </section>
  
  <!-- Sección de Visión -->
<section id="vision" class="py-4">
    <div class="container">
      <h2 class="text-center mb-3">Nuestra Visión</h2>
      <p class="text-justify mt-2">
        Ser reconocidos como la aseguradora líder y de referencia en el mercado nacional para el año <strong>2029</strong>, destacándonos por nuestra capacidad de innovación, compromiso con la sostenibilidad y excelencia en la atención al cliente. En <strong>Aseguradora LAYO</strong>, aspiramos a transformar la experiencia de seguros, convirtiéndonos en un socio estratégico para nuestros clientes y la comunidad. Buscar contribuir al desarrollo de una sociedad más segura y protegida, promoviendo valores de responsabilidad social y bienestar colectivo. Ser la primera opción de nuestros asegurados, no solo por la calidad de nuestros productos, sino también por la confianza y el respaldo que ofrecemos día a día.
      </p>
    </div>
  </section>
  
  