<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Valor Deuda</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array proteccionesCredito y llenar la tabla -->
            @for (proteccionCredito of proteccionesCredito; track $index) {
            <tr (click)="selectRow(proteccionCredito.id)">
                <td class="text-center">{{ proteccionCredito.id }}</td>
                <td class="text-center">{{ proteccionCredito.aseguradora }}</td>
                <td class="text-center">{{ proteccionCredito.valorDeuda }}</td>
                <td class="text-center">{{ proteccionCredito.fechaCreacion }}</td>
                <td class="text-center">{{ proteccionCredito.fechaCreacion }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>