<section class="py-5 container">
  <h1 class="text-center mb-4">Cotización de Vida</h1>

  <div class="w-100 d-flex justify-content-center pb-4">
    <button type="button" [ngClass]="isChecked?'btn btn-success':'btn btn-danger'" (click)="toggleShowing()">{{
      btnText}}</button>
  </div>
  @if (isChecked) {
  <form class="col-md-12 mt-3 needs-validation" [formGroup]="cotizacionVidaForm" (ngSubmit)="crearCotizacionVida()">
    <div class="row g-3">
      <!-- Aseguradora -->
      <div class="col-12 text-center">
        <label class="form-label">Aseguradora</label>
        <select class="form-select" formControlName="aseguradora">
          <option value="" disabled selected>Selecciona una aseguradora</option>
          @for (aseguradora of aseguradoras; track aseguradora) {
          <option [value]="aseguradora">{{ aseguradora }}</option>
          } @empty {
          <option disabled>No hay aseguradoras disponibles</option>
          }
        </select>
      </div>

      <!-- Botones -->
      <div class="col-12 text-center">
        <button class="btn btn-success mt-4 me-2" type="submit">Solicitar Cotización</button>
      </div>
    </div>
  </form>
  }
  <app-admin-vida></app-admin-vida>
  <div class="col-12 text-center">
    <button class="btn btn-danger mt-4" (click)="volver()">Volver</button>
  </div>
</section>