<section class="py-5 container">
  <h1 class="text-center mb-4">Cotización Seguro Pyme</h1>
  <div class="col-md-12 mt-3">
    <div class="w-100 d-flex justify-content-center pb-4">
      <button [ngClass]="viewForm?'btn btn-danger':'btn btn-success'" class="mt-4"
        (click)="toggleVerForm()">{{viewFormBtn}}</button>
    </div>
    <form *ngIf="viewForm" class="row g-4 needs-validation" novalidate [formGroup]="cotizacionPymeForm"
      (ngSubmit)="crearCotizacionPyme()">
      <div class="row g-3">
        <!-- Aseguradora -->
        <div class="col-md-6 text-start">
          <label class="form-label">Aseguradora</label>
          <select class="form-select" formControlName="aseguradora">
            <option value="" disabled selected>Selecciona una aseguradora</option>
            @for (aseguradora of aseguradoras; track aseguradora) {
            <option [value]="aseguradora">{{ aseguradora }}</option>
            } @empty {
            <option disabled>No hay aseguradoras disponibles</option>
            }
          </select>
        </div>

        <!-- Nombre -->
        <div class="col-md-6 text-start">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
          @if (cotizacionPymeForm.get('nombre')?.touched && cotizacionPymeForm.get('nombre')?.hasError('maxlength')) {
          <div class="alert alert-danger" role="alert">El nombre no puede tener más de 30 caracteres.</div>
          }

        </div>

        <!-- Cédula -->
        <div class="col-md-6 text-start">
          <label class="form-label">Cédula</label>
          <input type="text" class="form-control" formControlName="cedula" placeholder="Cédula">
        </div>

        <!-- Correo -->
        <div class="col-md-6 text-start">
          <label class="form-label">Correo</label>
          <input type="email" class="form-control" formControlName="correo" placeholder="Correo Electrónico">
          @if (cotizacionPymeForm.get('correo')?.touched && cotizacionPymeForm.get('correo')?.hasError('email')) {
          <div class="alert alert-danger" role="alert">El correo no es válido.</div>
          }

        </div>

        <!-- Teléfono -->
        <div class="col-md-6 text-start">
          <label class="form-label">Teléfono</label>
          <input type="text" class="form-control" formControlName="telefono" placeholder="Teléfono">
          @if (cotizacionPymeForm.get('telefono')?.touched && cotizacionPymeForm.get('telefono')?.hasError('maxlength'))
          {
          <div class="alert alert-danger" role="alert">El teléfono no puede tener más de 10 caracteres.</div>
          }
          @if (cotizacionPymeForm.get('telefono')?.touched && cotizacionPymeForm.get('telefono')?.hasError('minlength'))
          {
          <div class="alert alert-danger" role="alert">El teléfono debe tener 10 caracteres.</div>
          }

        </div>

        <!-- Dirección -->
        <div class="col-md-6 text-start">
          <label class="form-label">Dirección</label>
          <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
          @if (cotizacionPymeForm.get('direccion')?.touched &&
          cotizacionPymeForm.get('direccion')?.hasError('maxlength')) {
          <div class="alert alert-danger" role="alert">La dirección no puede tener más de 50 caracteres.</div>
          }

        </div>

        <!-- Fecha de Nacimiento -->
        <div class="col-md-6 text-start">
          <label class="form-label">Fecha de Nacimiento</label>
          <input type="datetime-local" class="form-control" formControlName="fechaNacimiento">

        </div>

        <!-- Valor de Mercancía -->
        <div class="col-md-6 text-start">
          <label class="form-label">Valor de Mercancía</label>
          <input type="number" class="form-control" formControlName="valorMercancia" placeholder="Valor de Mercancía">
          @if (cotizacionPymeForm.get('valorMercancia')?.touched &&
          cotizacionPymeForm.get('valorMercancia')?.hasError('min')) {
          <div class="alert alert-danger" role="alert">El valor de la mercancía debe ser mayor que 0.</div>
          }

        </div>

        <!-- Valor de Maquinaria -->
        <div class="col-md-6 text-start">
          <label class="form-label">Valor de Maquinaria</label>
          <input type="number" class="form-control" formControlName="valorMaquinaria" placeholder="Valor de Maquinaria">
          @if (cotizacionPymeForm.get('valorMaquinaria')?.touched &&
          cotizacionPymeForm.get('valorMaquinaria')?.hasError('min')) {
          <div class="alert alert-danger" role="alert">El valor de la maquinaria debe ser mayor que 0.</div>
          }
        </div>

        <!-- Valor Comercial -->
        <div class="col-md-6 text-start">
          <label class="form-label">Valor Comercial</label>
          <input type="number" class="form-control" formControlName="valorComercial" placeholder="Valor Comercial">
          @if (cotizacionPymeForm.get('valorComercial')?.touched &&
          cotizacionPymeForm.get('valorComercial')?.hasError('min')) {
          <div class="alert alert-danger" role="alert">El valor comercial debe ser mayor que 0.</div>
          }
        </div>

        <!-- Valor Eléctrico -->
        <div class="col-md-6 text-start">
          <label class="form-label">Valor Eléctrico</label>
          <input type="number" class="form-control" formControlName="valorElectrico" placeholder="Valor Eléctrico">
          @if (cotizacionPymeForm.get('valorElectrico')?.touched &&
          cotizacionPymeForm.get('valorElectrico')?.hasError('min')) {
          <div class="alert alert-danger" role="alert">El valor eléctrico debe ser mayor que 0.</div>
          }
        </div>

        <!-- Valor Muebles -->
        <div class="col-md-6 text-start">
          <label class="form-label">Valor Muebles</label>
          <input type="number" class="form-control" formControlName="valorMuebles" placeholder="Valor Muebles">
          @if (cotizacionPymeForm.get('valorMuebles')?.touched &&
          cotizacionPymeForm.get('valorMuebles')?.hasError('min')) {
          <div class="alert alert-danger" role="alert">El valor de muebles debe ser mayor que 0.</div>
          }
        </div>

        <!-- Tipo -->
        <div class="col-md-6 text-start">
          <label class="form-label">Tipo</label>
          <select class="form-select" formControlName="tipoPyme">
            <option value="" disabled selected>Selecciona un tipo</option>
            @for (tipo of tiposInmuebles; track tipo) {
            <option [value]="tiposInmuebles">{{ tipo }}</option>
            } @empty {
            <option disabled>No hay tipos disponibles</option>
            }
          </select>
        </div>

        <!-- Botones -->
        <div class="col-12 text-center">
          <button class="btn btn-success mt-4 me-2" type="submit">Solicitar Cotización</button>

        </div>
      </div>
    </form>
    <br/>
    <app-admin-pyme></app-admin-pyme>
    <div class="w-100 d-flex justify-content-center pb-4">
      <button class="btn btn-danger mt-4" (click)="volver()">Volver</button>
    </div>
  </div>
</section>