<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Aseguradora</th>
                <th class="text-center">Valor Mercancía</th>
                <th class="text-center">Valor Maquinaria</th>
                <th class="text-center">Valor Comercial</th>
                <th class="text-center">Valor Eléctrico</th>
                <th class="text-center">Valor Muebles</th>
                <th class="text-center">Tipo de Inmueble</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <!-- Usamos @for para iterar sobre el array pymes y llenar la tabla -->
            @for (pyme of pymes; track $index) {
            <tr (click)="selectRow(pyme.id)">
                <td class="text-center">{{ pyme.id }}</td>
                <td class="text-center">{{ pyme.aseguradora }}</td>
                <td class="text-center">{{ pyme.valorMercancia }}</td>
                <td class="text-center">{{ pyme.valorMaquinaria }}</td>
                <td class="text-center">{{ pyme.valorComercial }}</td>
                <td class="text-center">{{ pyme.valorElectrico }}</td>
                <td class="text-center">{{ pyme.valorMuebles }}</td>
                <td class="text-center">{{ pyme.tipo }}</td>
                <td class="text-center">{{ pyme.fechaCreacion }}</td>
                <td class="text-center">{{ pyme.fechaCreacion }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>