<section class="py-5 container">
  <h1 class="text-center mb-4">Cotización Responsabilidad Civil</h1>
  <div class="w-100 d-flex justify-content-center pb-4">
    <button type="button" [ngClass]="isChecked?'btn btn-success':'btn btn-danger'" (click)="toggleShowing()">{{
      btnText}}</button>
  </div>
  <form *ngIf="isChecked" class="col-md-12 mt-3 needs-validation row" [formGroup]="cotizacionResponsabilidadCivilForm"
    (ngSubmit)="crearCotizacionResponsabilidadCivil()">
    <div class="row g-3">
      <!-- Aseguradora -->
      <div class="col-md-6 text-start">
        <label class="form-label">Aseguradora</label>
        <select class="form-select" formControlName="aseguradora">
          <option value="" disabled selected>Selecciona una aseguradora</option>
          @for (aseguradora of aseguradoras; track aseguradora) {
          <option [value]="aseguradora">{{ aseguradora }}</option>
          } @empty {
          <option disabled>No hay aseguradoras disponibles</option>
          }
        </select>
      </div>


      <!-- Dirección -->
      <div class="col-md-6 text-start">
        <label class="form-label">Dirección</label>
        <input type="text" class="form-control" formControlName="direccion" placeholder="Dirección">
        @if (cotizacionResponsabilidadCivilForm.get('direccion')?.touched &&
        cotizacionResponsabilidadCivilForm.get('direccion')?.hasError('maxlength')) {
        <div class="alert alert-danger" role="alert">La dirección no puede tener más de 50 caracteres.</div>
        }
      </div>

      <!-- Ocupación -->
      <div class="col-md-6 text-start">
        <label class="form-label">Ocupación</label>
        <input type="text" class="form-control" formControlName="ocupacion" placeholder="Ocupación">
        @if (cotizacionResponsabilidadCivilForm.get('ocupacion')?.touched &&
        cotizacionResponsabilidadCivilForm.get('ocupacion')?.hasError('maxlength')) {
        <div class="alert alert-danger" role="alert">La ocupación no puede tener más de 50 caracteres.</div>
        }
      </div>

      <!-- Ciudad -->
      <div class="col-md-6 text-start">
        <label class="form-label">Ciudad</label>
        <input type="text" class="form-control" formControlName="ciudad" placeholder="Ciudad">
        @if (cotizacionResponsabilidadCivilForm.get('ciudad')?.touched &&
        cotizacionResponsabilidadCivilForm.get('ciudad')?.hasError('maxlength')) {
        <div class="alert alert-danger" role="alert">La ciudad no puede tener más de 50 caracteres.</div>
        }
      </div>

      <!-- Botones -->
      <div class="col-12 text-center">
        <button class="btn btn-success mt-4 me-2" type="submit">Solicitar Cotización</button>
      </div>
    </div>
  </form>
  <app-admin-responsabilidad-civil></app-admin-responsabilidad-civil>
  <div class="d-flex" style="justify-content: center; "><button class="btn btn-danger mt-4"
      (click)="volver()">Volver</button></div>
</section>