<header id="header" class="pt-2 px-2 stick">
  <nav class="p-2 bd-example m-0 border-0 navbar navbar-expand navbar-custom">
    <div class="container-fluid">
      <!-- Imagen del logo -->

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto centered h-100 gap-1">
          <li>
            <a id="home-a" class="" routerLink="/">
              <img src="/images/logo.png" class="rounded-circle me-3" alt="Logo Aseguradora LAYO" height="40">
              Seguros LAYO
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/seguros">Seguros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/afiliaciones-traslados">Afiliaciones o Traslados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/alianzas">Alianzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/contactenos">Contáctenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/perfil">Perfil</a>
          </li>
        </ul>


        <!-- Mostrar Login y Registro si el usuario no está autenticado -->
        <div class="d-flex align-items-center">
          <div class="text-center me-3">
            @if (!isLogged) {
            <button type="button" routerLink="/signin" class="btn-outline me-2">Ingresar</button>
            } @else if (isLogged) {
            <span class="me-3">Hola, {{ email }}</span>
            <button type="button" (click)="logout()" class="btn btn-primary">Logout</button>
            }
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>