<section class="py-5 container">
  <h1 class="text-center mb-4">Tus cotizaciones de auto o moto
  </h1>
  <div class="w-100 d-flex justify-content-center pb-4">
    <button type="button" [ngClass]="isChecked?'btn btn-success':'btn btn-danger'" (click)="toggleShowing()">{{
      btnText}}</button>
  </div>

  <form class="col-md-12" [formGroup]="cotizacionAutoForm" (ngSubmit)="crearCotizacionAuto()" novalidate>

    <div class="row g-3" *ngIf="isChecked">
      <!-- Aseguradora -->
      <div class="col-md-6 text-start">
        <label class="form-label">Aseguradora</label>
        <select class="form-select" formControlName="aseguradora">
          <option value="" disabled selected>Selecciona una aseguradora</option>
          @for (aseguradora of aseguradoras; track aseguradora) {
          <option [value]="aseguradora">{{ aseguradora }}</option>
          } @empty {
          <option disabled>No hay aseguradoras disponibles</option>
          }
        </select>
      </div>

      <!-- Tipo de Vehículo -->
      <div class="col-md-6 text-start">
        <label class="form-label">Tipo de Vehículo</label>
        <select class="form-select" formControlName="tipoVehiculo">
          <option value="" disabled selected>Selecciona un tipo de vehículo</option>
          <option value="Particular">Particular</option>
          <option value="Público">Público</option>
        </select>
      </div>

      <!-- Placa -->
      <div class="col-md-6 text-start">
        <label class="form-label">Placa</label>
        <input type="text" class="form-control" formControlName="placa" placeholder="Placa">
        @if (cotizacionAutoForm.get('placa')?.touched && cotizacionAutoForm.get('placa')?.hasError('maxlength')) {
        <div class="alert alert-danger" role="alert">La placa no puede tener más de 6 caracteres.</div>
        }
        @if (cotizacionAutoForm.get('placa')?.touched && cotizacionAutoForm.get('placa')?.hasError('minlength')) {
        <div class="alert alert-danger" role="alert">La placa debe tener 6 caracteres.</div>
        }
      </div>


      <!-- Ciudad de Circulación -->
      <div class="col-md-6 text-start">
        <label class="form-label">Ciudad de Circulación</label>
        <input type="text" class="form-control" formControlName="ciudad" placeholder="Ciudad de Circulación">
      </div>

      <!-- Botones -->
      <div class="col-12 text-center">
        <button class="btn btn-success mt-4 me-2" type="submit">Solicitar Cotización</button>
      </div>
    </div>
    <div class="dropdown-dividers"></div>
  </form>
  <hr />
  <app-admin-autos></app-admin-autos>
  <div class="w-100 d-flex justify-content-center pb-4">
    <button type="button" class="btn btn-danger mt-4" (click)="volver()">Volver</button>
  </div>
</section>