<div class="container my-5">

    <!-- Imagen del logo al principio de la página -->
    <div class="container my-3 text-center">
        <figure class="figure">
            <img src="/images/logo.png" 
                 class="rounded-circle mt-3" 
                 alt="Logo" 
                 height="170px" 
                 width="170px">
        </figure>
    </div>

    <!-- Texto principal debajo de la imagen -->
    <div class="container text-center">
        <p class="lead mt-0 mb-4">
            Bienvenido Administrador. Administra los registros de seguros de forma eficiente y organizada.
        </p>
    </div>
  
    <!-- Título -->
    <div class="row mb-4">
        <div class="col text-center">
            <h2 style="color: black; font-size: 3rem;">Gestiona los registros de los seguros</h2>
        </div>
    </div>

    <!-- Fila de botones -->
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        <!-- Botón 1: Seguro Autos y Motos -->
        <div class="col">
            <button [routerLink]="'/admin-autos'" class="btn btn-primary btn-lg w-100">Autos y Motos</button>
        </div>

        <!-- Botón 2: Hogar -->
        <div class="col">
            <button [routerLink]="'/admin-hogar'" class="btn btn-primary btn-lg w-100">Hogar</button>
        </div>

        <!-- Botón 3: Protección Crédito -->
        <div class="col">
            <button [routerLink]="'/admin-proteccion-credito'" class="btn btn-primary btn-lg w-100">Protección Crédito</button>
        </div>

        <!-- Botón 4: Pyme -->
        <div class="col">
            <button [routerLink]="'/admin-pyme'" class="btn btn-primary btn-lg w-100">Pyme</button>
        </div>

        <!-- Botón 5: Responsabilidad Civil -->
        <div class="col">
            <button [routerLink]="'/admin-responsabilidad-civil'" class="btn btn-primary btn-lg w-100">Responsabilidad Civil</button>
        </div>

        <!-- Botón 6: Salud -->
        <div class="col">
            <button [routerLink]="'/admin-salud'" class="btn btn-primary btn-lg w-100">Salud</button>
        </div>

        <!-- Botón 7: Vida -->
        <div class="col">
            <button [routerLink]="'/admin-vida'" class="btn btn-primary btn-lg w-100">Vida</button>
        </div>

        <!-- Botón 8: Soat -->
        <div class="col">
            <button [routerLink]="'/admin-soat'" class="btn btn-primary btn-lg w-100">Soat</button>
        </div>

         <!-- Botón 9: Peticion -->
         <div class="col">
            <button [routerLink]="'/admin-peticion'" class="btn btn-primary btn-lg w-100">Peticion</button>
        </div>

         <!-- Botón 9: Afiliaciones -->
         <div class="col">
            <button [routerLink]="'/admin-afiliaciones'" class="btn btn-primary btn-lg w-100">Afiliaciones y Traslados</button>
        </div>
    </div>
</div>
